@import util

@font-face
  font-family GT Walsheim
  font-style normal
  font-weight normal
  src:
    url(/fonts/GT-Walsheim-Bold.woff2) format('woff2'),
    url(/fonts/GT-Walsheim-Bold.woff) format('woff')

@font-face
  font-family GT Walsheim
  font-style normal
  font-weight bold
  src:
    url(/fonts/GT-Walsheim-Black.woff2) format('woff2'),
    url(/fonts/GT-Walsheim-Black.woff) format('woff')

@font-face
  font-family GT Sectra
  font-style normal
  font-weight normal
  src:
    url(/fonts/GT-Sectra-Regular.woff2) format('woff2'),
    url(/fonts/GT-Sectra-Regular.woff) format('woff')

*
  box-sizing border-box

body
  -webkit-font-smoothing antialiased  // thinner rendering
  background $color-bg
  color $color-text
  font-family $font-body
  margin 0

h1, h2, h3
  font-family $font-header
  margin 0

section
  min-height 100vh
  padding $padding-small
