$mark-size-small = 38px
$mark-size-large = 64px

$padding = 20px // XXX

.mark
  cursor pointer
  height $mark-size-small + ($padding * 2)
  left 50%
  margin-left -($mark-size-small / 2)
  padding $padding
  position fixed
  width $mark-size-small + ($padding * 2)
