@import '../util'

$mark-size-small = 38px
$mark-size-large = 64px

.mark
  cursor pointer
  height $mark-size-small + ($padding-small * 2)
  left 50%
  margin-left -($mark-size-small / 2)
  padding $padding-small
  position fixed
  width $mark-size-small + ($padding-small * 2)
  top 0
