---
import Base from '$layouts/Base.astro';
---

<Base title="Debug">
  <button class="button" id="lock">Enable wakeLock</button>
  <button class="button" id="unlock">Disable wakeLock</button>

  <div id="log"></div>

  <button class="button" id="reload">Reload</button>
</Base>

<script>
  let wakeLock: WakeLockSentinel | null;

  document.querySelector('#lock')?.addEventListener('click', async function () {
    try {
      log('attempting');
      wakeLock = await navigator.wakeLock?.request('screen');
      log('locked', wakeLock.toString());
    } catch (e: any) {
      log(e.toString());
    }
  });

  document.querySelector('#unlock')?.addEventListener('click', function () {
    if (!wakeLock) {
      log('releasing: not locked');
      return;
    }
    wakeLock.release();
    wakeLock = null;
  });

  const logEl: HTMLDivElement = document.querySelector('#log')!;
  function log(...msgs: any[]) {
    for (const msg of msgs) {
      logEl.innerHTML += msg.toString() + '<br>';
    }
  }

  const reloadButtonEl: HTMLButtonElement = document.querySelector('#reload')!;
  if ('standalone' in navigator && navigator.standalone) {
    reloadButtonEl?.addEventListener('click', () => {
      window.location.reload();
    });
  } else {
    reloadButtonEl.disabled = true;
  }
</script>

<style>
  body {
    margin: 1em;
  }
  #log {
    margin-block: 1em;
  }
</style>
