@require "util"


@font-face
  font-family GT Walsheim
  font-style normal
  font-weight normal
  src:
    url('~assets/fonts/GT-Walsheim-Bold.woff2') format('woff2'),
    url('~assets/fonts/GT-Walsheim-Bold.woff') format('woff')

@font-face
  font-family GT Walsheim
  font-style normal
  font-weight bold
  src:
    url('~assets/fonts/GT-Walsheim-Black.woff2') format('woff2'),
    url('~assets/fonts/GT-Walsheim-Black.woff') format('woff')

@font-face
  font-family GT Sectra
  font-style normal
  font-weight normal
  src:
    url('~assets/fonts/GT-Sectra-Regular.woff2') format('woff2'),
    url('~assets/fonts/GT-Sectra-Regular.woff') format('woff')

.container
  color $light-text-color
  font 17px/20px $body-font-stack
  transition color $light-dark-transition-ms ease-in
  &.light-bg
    color $dark-text-color
  +breakpoint($desktop)
    font-size 32px
    line-height 37px

*
  box-sizing border-box

section
  min-height 100vh
  padding $small-padding * 2 ($small-padding * 2 + $small-nav-height)
  +breakpoint($desktop)
    padding $large-padding * 2 ($large-padding * 2 + $large-nav-height - 4px)

input, select
  font inherit

a
  color $light-text-color
  cursor pointer
  transition color $light-dark-transition-ms ease-in
  // TODO link styles
  // text-decoration none
  .light-bg &
    color $dark-text-color

h1, h2, h3
  font-family $header-font-stack
  text-transform uppercase

h1
  font-size 72px
  line-height 68px
  margin 0
h2
  font-size 52px
  line-height 1.6
  margin 0
+breakpoint($desktop)
  h1
    font-size 152px
    line-height 144px
  h2
    font-size 72px

p
  max-width 25em


// // Show pretty underlined links in body text.
// a:not(.no-underline)
//   color text-color
//   underline(alpha(text-color, .3), bg-color, 0.05em, 0.14em, text-color)
