@require "util"


@font-face
  font-family GT Walsheim
  font-style normal
  font-weight normal
  src:
    url('~assets/fonts/GT-Walsheim-Bold.woff2') format('woff2'),
    url('~assets/fonts/GT-Walsheim-Bold.woff') format('woff')

@font-face
  font-family GT Walsheim
  font-style normal
  font-weight bold
  src:
    url('~assets/fonts/GT-Walsheim-Black.woff2') format('woff2'),
    url('~assets/fonts/GT-Walsheim-Black.woff') format('woff')

@font-face
  font-family GT Sectra
  font-style normal
  font-weight normal
  src:
    url('~assets/fonts/GT-Sectra-Regular.woff2') format('woff2'),
    url('~assets/fonts/GT-Sectra-Regular.woff') format('woff')

body
  // background bg-color
  color $light-text-color
  font 1em/1.5 $body-font-stack
  +breakpoint(375px)
    font-size 1.1em
  +breakpoint(750px)
    font-size 1.25em

*
  box-sizing border-box

input, select
  font inherit

a
  cursor pointer
  text-decoration none

h1, h2, h3
  font-family $header-font-stack
  text-transform uppercase

// Show pretty underlined links in body text.
a:not(.no-underline)
  color text-color
  underline(alpha(text-color, .3), bg-color, 0.05em, 0.14em, text-color)

.page
  margin 0 auto
  padding 0 20px 30px
  +breakpoint(420px)
    max-width 30em

.page h1
  text-align center
