text-color = #222
bg-color = #fff
font-stack = "PT Serif", serif
header-font-stack = "Unica One", sans-serif

$header-font-stack = "GT Walsheim", sans-serif
$body-font-stack = "GT Sectra", serif

$dark-text-color = #222
$light-text-color = #fff
$light-dark-transition-ms = 600ms

$desktop = 750px
$small-padding = 24px
$large-padding = 64px
$small-nav-height = 16px
$large-nav-height = 20px


// Shortcut for min-width media queries.
breakpoint(w)
  @media screen and (min-width: w)
    {block}


// Shortcut for cross-platform high-resolution support.
retina()
  @media screen and (min-resolution: 1.3dppx)
    {block}


// Provide an underline style that can have a custom color applied, while
// appearing behind any text descenders.
// Based on work by Gary Hepting: http://codepen.io/ghepting/pen/tLnHK/
underline(color, bg-color, size, offset, hover-color)
  end = offset + size
  background-image linear-gradient(to top, transparent, transparent offset, color offset, color end, transparent end)
  text-shadow -1px -1px 0 bg-color, -1px 1px 0 bg-color, 1px -1px 0 bg-color, 1px 1px 0 bg-color
  &:hover
    background-image linear-gradient(to top, transparent, transparent offset, hover-color offset, hover-color end, transparent end)


// Hide text to replace it with a background image.
hide-text()
  overflow hidden
  text-indent 110%
  white-space nowrap


$side-nav
  $padding = 12px
  bottom 0
  font $small-nav-height/1 $header-font-stack
  margin 0 $small-padding
  position fixed
  text-align center
  text-transform uppercase
  top 0
  user-select none
  writing-mode vertical-rl
  a
    padding $padding 0
    position relative
    text-decoration none
  +breakpoint($desktop)
    font-size $large-nav-height
    margin 0 $large-padding
    a::after
      background-color $light-text-color
      content ""
      display block
      height "calc(100% - %s)" % ($padding * 2 + 2)
      opacity 0.4
      position absolute
      top $padding + 1px
      transform scaleY(0)
      transform-origin top center
      transition background-color $light-dark-transition-ms ease-in, transform 150ms ease-in
      width 2px
      :global(.light-bg) &
        background-color $dark-text-color
      +breakpoint($desktop)
        width 3px
    a:hover::after
      transform scaleY(1)

