@import '../util'

.splash
  background #eee  // XXX
  display flex
  flex-direction column
  justify-content center
  h1
    font-size 12vw
    max-width "calc(100vw - %s * 4)" % $padding-small
    line-height 0.9
    text-transform uppercase

+breakpoint($large)
  .splash h1
    font-size 10vw

.mark
  width 100px
