<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }} · {% endif %}Zak Johnson</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}
  <meta name="viewport" content="initial-scale=1">

  <link href="/main.css" rel="stylesheet">
  {% include mixpanel.html %}
</head>
<body>
{{ content }}
<script>
  mixpanel.track('Page viewed', {
    Title: document.title,
    Path: window.location.pathname
  });
</script>
</body>
</html>
