---
import bgImg from '$assets/clement-m-h7vKkZNNThE-unsplash.jpeg';
import bgImgDark from '$assets/nandhu-kumar-t9UpW8MUmtw-unsplash.jpg';
import Text from '$layouts/Text.astro';
import { getImage } from 'astro:assets';

const props = Astro.props.frontmatter;

const vars = {
  bgImg: `url(${(await getImage({ src: bgImg })).src})`,
  bgImgDark: `url(${(await getImage({ src: bgImgDark })).src})`,
};
---

<script>
  (() => {
    const key = 'seenIndexAnimation';
    if (sessionStorage.getItem(key))
      document.body.classList.add('seen-animation');
    sessionStorage.setItem(key, '1');
    document
      .querySelector('main > :last-child')
      ?.addEventListener('animationend', (ev) =>
        document.body.classList.add('seen-animation'),
      );
  })();
</script>

<Text {...props}>
  <slot />
  <footer slot="footer">
    <a href="/colophon">Colophon</a>
  </footer>
</Text>

<style is:global define:vars={vars}>
  footer {
    /* TODO is there a more resilient way to "force" dark mode for a given element? */
    --color-underline: rgba(255, 255, 255, 0.2);
    align-items: flex-end;
    aspect-ratio: 4608/2082; /* from bgImg */
    background-image: var(--bgImg);
    background-size: contain;
    color: var(--color-white);
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    mask-image: linear-gradient(transparent, white 30%);
    padding: calc(var(--page-padding) * 0.8) var(--page-padding);
    width: 100dvw;
  }

  @media (prefers-color-scheme: dark) {
    footer {
      background-image: var(--bgImgDark);
      mask-image: linear-gradient(transparent, white 60%);
    }
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    main > * {
      animation-delay: calc(var(--animate-order) * 75ms);
      animation-duration: 500ms;
      animation-fill-mode: forwards;
      animation-name: fade-in-text;
      opacity: 0;
    }
    body:is(.no-js, .loading, .seen-animation) main > * {
      animation-name: none;
    }
    body.loading:not(.no-js) main > * {
      opacity: 0;
    }
    body:is(.no-js, .seen-animation) main > * {
      opacity: 1;
    }

    /* TODO ugh */
    main > :nth-child(1) {
      --animate-order: 1;
    }
    main > :nth-child(2) {
      --animate-order: 2;
    }
    main > :nth-child(3) {
      --animate-order: 3;
    }
    main > :nth-child(4) {
      --animate-order: 4;
    }

    @keyframes fade-in-text {
      from {
        opacity: 0;
        transform: scale(1.04) translateY(-5px);
      }
      to {
        opacity: 1;
      }
    }
  }
</style>
