---
import Base, { type Props as BaseProps } from '$layouts/Base.astro';
import type { MarkdownLayoutProps } from 'astro';

type Props = BaseProps | MarkdownLayoutProps<BaseProps>;

const props: Props =
  'frontmatter' in Astro.props ? Astro.props.frontmatter : Astro.props;
---

<Base {...props}>
  <main><slot /></main>
  <slot name="footer" />
</Base>

<style is:global>
  :root {
    /* TODO: move to base? */
    --page-padding: 1.5rem;
  }

  body {
    --bg-gradient-color: rgb(45, 61, 63, 0.2);
    align-items: center;
    background-image: linear-gradient(
      121deg,
      transparent 60vh,
      var(--bg-gradient-color)
    );
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    padding-inline: var(--page-padding);
    padding-top: var(--page-padding);
  }

  main {
    width: min(100%, 50ch);
  }

  main > * + * {
    margin-top: 0.7rem;
  }

  ul {
    padding-left: 1rem;
  }

  @media (prefers-color-scheme: dark) {
    body {
      /* TODO: tune colors */
      --bg-gradient-color: rgba(44, 130, 81, 0.2);
      background: #1f1f1f;
    }
  }

  @media screen and (min-width: 750px) {
    :root {
      --page-padding: 3rem;
    }
  }
</style>
