---
import Base, { type Props as BaseProps } from '$layouts/Base.astro';
import type { MarkdownLayoutProps } from 'astro';

type Props = BaseProps | MarkdownLayoutProps<BaseProps>;

const props: Props =
  'frontmatter' in Astro.props ? Astro.props.frontmatter : Astro.props;
---

<Base {...props}>
  <main><slot /></main>
  <slot name="footer" />
</Base>

<style is:global>
  :root {
    /* TODO: move to base? */
    --page-padding: 1.5rem;
  }

  body {
    --color-bg-1: oklch(from var(--color-bg) 0.98 c h);
    --color-bg-2: oklch(from var(--color-accent) 0.2 c h / 0.1);

    background-image: linear-gradient(
      121deg,
      var(--color-bg-1) 60vh,
      var(--color-bg-2)
    );
    display: grid;
    grid-template-columns:
      [full-start]
      minmax(
        max(calc(env(safe-area-inset-left) + 0.5rem), var(--page-padding)),
        1fr
      )
      [content-start]
      minmax(auto, 50ch)
      [content-end]
      minmax(max(env(safe-area-inset-right), var(--page-padding)), 1fr)
      [full-end];
    min-height: 100dvh;
    padding-top: max(env(safe-area-inset-top), var(--page-padding));
    padding-bottom: max(env(safe-area-inset-bottom), var(--page-padding));
  }

  main {
    grid-column: content;
  }

  main > * + *,
  main p,
  main h2 {
    margin-top: 0.7rem;
  }

  ul {
    padding-left: 1rem;
  }

  @media (prefers-color-scheme: dark) {
    body {
      --color-bg-1: oklch(from var(--color-bg) 0.24 c h);
      --color-bg-2: oklch(from var(--color-accent) 0.5 c h / 0.1);
    }
  }

  @media screen and (min-width: 750px) and (min-height: 350px) {
    :root {
      --page-padding: 3rem;
    }
  }
</style>
